In [24]:
import pandas as pd
from lightfm import LightFM

In [25]:
clicks = pd.read_csv('./2/internship_clickstream_data.csv')
geo1 = pd.read_csv('./2/lst_announcement_data_1.gzip', compression='gzip', usecols=['id', 'geo'])
geo2 = pd.read_csv('./2/lst_announcement_data_2.gzip', compression='gzip', usecols=['id', 'geo'])
display(clicks)
display(geo1)
display(geo2)

,timestamp,hit_id,uid,platform,event_name,screen,offer_id,ptn_dadd
0,2022-06-29 01:04:03,4b45e714d01842a7,16650505,ios,OpenOfferScreen,SearchResultsList,274266785,2022-06-29
1,2022-06-29 01:06:10,e688e3349b35430f,92346837,android,OpenOfferScreen,MapScreen,270671363,2022-06-29
2,2022-06-29 01:08:48,97c52e7a2e574f44,0bf81f10-ee3a-4543-a9ee-2bd12b4e4ec6,android,OpenOfferScreen,Undefined,272968099,2022-06-29
3,2022-06-29 01:09:39,d52e99bc7f7f4db8,84081279,ios,OpenOfferScreen,SearchResultsList,268313499,2022-06-29
4,2022-06-29 01:12:50,d49bf3352f64401c,0bf81f10-ee3a-4543-a9ee-2bd12b4e4ec6,android,OpenOfferScreen,Undefined,255933042,2022-06-29
...,...,...,...,...,...,...,...,...
7458211,2022-06-28 09:32:43,98890a0f7b3f4dcf,25322889,android,OpenOfferScreen,MapScreen,274193893,2022-06-28
7458212,2022-06-28 09:32:49,41ce111644274182,19853938,android,ShowContacts,BookmarksScreen,275195809,2022-06-28
7458213,2022-06-28 09:32:53,98f2daca45cc4bf8,6904687,android,OpenOfferScreen,SearchResultsList,274310403,2022-06-28
7458214,2022-06-28 09:33:03,8955c09fcbb0431b,2776930A-C417-4628-A252-0733261A3F27,ios,OpenOfferScreen,Undefined,269339567,2022-06-28
7458215,2022-06-28 09:33:07,15af01806195474c,53b39dbf-57dd-491c-bba1-6ceb297d5fb9,android,ClickCallButton,OfferScreen,271288639,2022-06-28

               id                                                geo
0       243455495  {"countryId":138,"undergrounds":[{"transportTy...
1       270527203  {"countryId":138,"undergrounds":[],"calculated...
2       270569384  {"countryId":138,"undergrounds":[],"calculated...
3       271459928  {"countryId":138,"undergrounds":[],"calculated...
4       272357233  {"countryId":138,"undergrounds":[],"calculated...
...           ...                                                ...
999995  274877607  {"countryId":138,"undergrounds":[],"calculated...
999996  274939225  {"countryId":138,"undergrounds":[],"calculated...
999997  274969832  {"countryId":138,"undergrounds":[{"transportTy...
999998  274989847  {"countryId":138,"undergrounds":[{"transportTy...
999999  275026673  {"countryId":138,"undergrounds":[{"transportTy...

[1000000 rows x 2 columns]

               id                                                geo
0       275092765  {"countryId":138,"undergrounds":[{"transportTy...
1       275118966  {"countryId":138,"undergrounds":[{"transportTy...
2       206591333  {"countryId":138,"undergrounds":[],"calculated...
3       240796058  {"countryId":138,"undergrounds":[],"calculated...
4       268872358  {"countryId":138,"undergrounds":[],"calculated...
...           ...                                                ...
963095  273970898  {"countryId":138,"undergrounds":[{"transportTy...
963096  274907224  {"countryId":138,"undergrounds":[],"calculated...
963097  275082384  {"countryId":138,"undergrounds":[],"calculated...
963098  199137472  {"countryId":138,"undergrounds":[{"transportTy...
963099  216727837  {"countryId":138,"undergrounds":[],"calculated...

[963100 rows x 2 columns]

In [31]:
def get_city_id(arg):
    return eval(arg.replace('true', 'True').replace('false', 'False'))['address'][0]['id']

geo1['geo'] = geo1['geo'].apply(get_city_id)
geo2['geo'] = geo2['geo'].apply(get_city_id)

In [41]:
geo1

               id  geo
7       273448268    2
9       274568666    2
11      168994692    2
24      271201384    2
26      273156538    2
...           ...  ...
999894  271104908    2
999899  272899534    2
999947  271755679    2
999977  274720122    2
999999  275026673    2

[84903 rows x 2 columns]

In [44]:
geo1 = geo1[geo1['geo'] == 2]
geo2 = geo2[geo2['geo'] == 2]
geo = pd.concat([geo1, geo2])
geo

               id  geo
7       273448268    2
9       274568666    2
11      168994692    2
24      271201384    2
26      273156538    2
...           ...  ...
963022  272843696    2
963046  270887699    2
963051  274443120    2
963054  275102553    2
963081  274436243    2

[166676 rows x 2 columns]

In [46]:
merged = clicks.merge(geo, left_on='offer_id', right_on='id', how='inner')
print(merged.shape)
merged.head()

(2040489, 10)

,timestamp,hit_id,uid,platform,event_name,screen,offer_id,ptn_dadd,id,geo
0,2022-06-29 01:59:29,e4ae2d7f9eab4cb7,87603527,android,OpenOfferScreen,FavoritesScreen,274235341,2022-06-29,274235341,2
1,2022-06-29 01:59:29,e4ae2d7f9eab4cb7,87603527,android,OpenOfferScreen,FavoritesScreen,274235341,2022-06-29,274235341,2
2,2022-06-29 01:59:29,e4ae2d7f9eab4cb7,87603527,android,OpenOfferScreen,FavoritesScreen,274235341,2022-06-29,274235341,2
3,2022-06-28 23:45:45,1ff927e168b94e02,87603527,android,OpenOfferScreen,RecommendationsScreen,274235341,2022-06-29,274235341,2
4,2022-06-28 23:45:45,1ff927e168b94e02,87603527,android,OpenOfferScreen,RecommendationsScreen,274235341,2022-06-29,274235341,2

In [48]:
merged.to_csv('clicks_cleared.csv')